$primary: #007cc7;
$accent: #d6edff;
$primary-dark: #12232e;
$accent-dark: #203647;

.category-card {
  max-width: 315px;
  min-width: 288px;
  width: 30%;
  padding: 0;
  background-color: $accent;
}

.category-title {
  background-color: $primary;
  color: #fff;
  padding: 16px 16px 0;
}

.category-content {
  background-color: $accent;
  padding: 0 16px 16px;
  font-weight: 500;
}
