$primary: #007cc7;
$accent: #d6edff;
$primary-dark: #12232e;
$accent-dark: #203647;

.category-card {
  background-color: $accent;
  max-width: 315px;
  min-width: 288px;
  padding: 0;
  width: 30%;
}

.category-title {
  background-color: $primary;
  color: #fff;
  padding: 16px 16px 0;
}

.category-content {
  background-color: $accent;
  font-weight: 500;
  padding: 0 16px 16px;
}

.info-label {
  font-size: 20px;
  vertical-align: sub;
}
