<add-items-page></add-items-page>
<br>
<mat-divider></mat-divider>
<br>
<h2>Remove</h2>
<div>
  <mat-form-field appearance="outline" class="category-select">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryControl">
      <mat-option value="work">Work Experience</mat-option>
      <mat-option value="project">Project</mat-option>
      <mat-option value="course">Coursework</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<common-table [isRemoval]="true"
              [tableEntries]="tableEntries"
              [tableType]="currentType"
              [columnNames]="columnNames"></common-table>
