<add-items-page></add-items-page>
<br>
<mat-divider></mat-divider>
<br>
<h2>Remove</h2>
<button mat-stroked-button
        (click)="removeEntries()">Remove {{selection.selected.length}} Entries</button>

<table mat-table class="mat-elevation-z1" [dataSource]="workExperience" multiTemplateDataRows>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnNames | slice:1">
    <th mat-header-cell *matHeaderCellDef>{{column}}</th>
    <td mat-cell *matCellDef="let work">{{work[column.toLowerCase()]}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let work" [attr.colspan]="columnNames.length">
      <div class="work-detail" [@detailExpand]="work == expandedWork ? 'expanded' : 'collapsed'">
        <div class="work-summary">
          <li *ngFor="let bullet of work.bullets">
            {{bullet}}
          </li>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let work; columns: columnNames" class="work-row" [class.expanded-row]="expandedWork === work"
    (click)="expandedWork = expandedWork === work ? null : work"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="work-detail-row"></tr>
</table>
