<h2>Add A New Entry</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="category-select">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryControl">
      <mat-option value="work">Work Experience</mat-option>
      <mat-option value="project">Project</mat-option>
      <mat-option value="course">Coursework</mat-option>
      <mat-option value="about">About</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Only render the appropriate form when they are selected -->
  <ng-container *ngIf="categoryControl.value === 'work' then workForm"></ng-container>
  <ng-container *ngIf="categoryControl.value === 'project' then projectsForm"></ng-container>
  <ng-container *ngIf="categoryControl.value === 'course' then courseForm"></ng-container>
  <ng-container *ngIf="categoryControl.value === 'about' then aboutForm"></ng-container>
</mat-dialog-content>

<ng-template #workForm>
  <form [formGroup]="entryGroup" class="flex-container">
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Company</mat-label>
      <input matInput formControlName="workCompany">
      <mat-icon matSuffix>work_outline</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Title</mat-label>
      <input matInput formControlName="workTitle">
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Year</mat-label>
      <input matInput formControlName="workYear">
      <mat-icon matSuffix>calendar_today</mat-icon>
    </mat-form-field>
  </form>
  <ng-container *ngTemplateOutlet="bulletForm"></ng-container>
</ng-template>

<ng-template #projectsForm>
  <form [formGroup]="entryGroup" class="flex-container">
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Name</mat-label>
      <input matInput formControlName="projectName">
      <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Link</mat-label>
      <input matInput formControlName="projectLink">
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Year</mat-label>
      <input matInput formControlName="projectYear">
      <mat-icon matSuffix>calendar_today</mat-icon>
    </mat-form-field>
  </form>
  <ng-container *ngTemplateOutlet="bulletForm"></ng-container>
</ng-template>

<ng-template #courseForm>
  <form [formGroup]="entryGroup" class="flex-container">
    <!-- Display categories available or make a new one -->
    <mat-form-field appearance="outline" class="category-select flex-item">
      <mat-label>Course Category</mat-label>
      <mat-select [formControl]="courseCategoryControl">
        <mat-option *ngFor="let category of courseCategories"
                    [value]=category>{{category}}</mat-option>
        <mat-option value="New Category">New Category</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Category name input for when it is selected -->
    <mat-form-field *ngIf="courseCategoryControl.value === 'New Category'"
                    appearance="outline" class="flex-item">
      <mat-label>New Category Name</mat-label>
      <input matInput formControlName="newCategory">
      <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>
    <!-- Name of the course to add -->
    <mat-form-field appearance="outline" class="flex-item">
      <mat-label>Course</mat-label>
      <input matInput #courseInput formControlName="courseName">
      <mat-error>Course name cannot be empty</mat-error>
    </mat-form-field>
    <!-- Statuses are optional and appear as a tooltip when displayed -->
    <mat-form-field appearance="outline" class="flex-item-min">
      <mat-label>Status</mat-label>
      <input matInput #courseStatus formControlName="courseStatus">
      <mat-hint>Optional. e.g: in progress</mat-hint>
    </mat-form-field>
    <button mat-stroked-button class="course-add-button"
            (click)="addCourse(courseInput.value, courseStatus.value)"
      [disabled]="courseInput.value.trim() === ''">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <div>
    <!-- All the courses to be added -->
    <h3>Courses:</h3>
    <mat-selection-list #courseList>
      <mat-list-option *ngFor="let course of courses" [value]="course">{{course.status.length > 0 ? course.name + ' | status: ' + course.status : course.name}}</mat-list-option>
    </mat-selection-list>
    <div>
      <button mat-button (click)="deleteCourses(courseList.selectedOptions.selected)">
        Delete {{courseList.selectedOptions.selected.length}} courses</button>
      <button mat-button (click)="saveEntry()" [disabled]="isFormEmpty">Save Entry</button>
    </div>
  </div>
</ng-template>

<ng-template #aboutForm>
  <form [formGroup]="entryGroup">
    <div class="flex-container">
      <h3 class="flex-title">Profile Image</h3>
      <mat-form-field appearance="outline" class="flex-item">
        <mat-label>Profile Image Url</mat-label>
        <input matInput formControlName="aboutProfile">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
    </div>
    <div class="flex-container">
      <h3 class="flex-title">About Entries</h3>
      <div *ngIf="aboutEntries.length > 0" class="flex-list">
        <button mat-button (click)="deleteAboutEntries(aboutEntryInputs.selectedOptions.selected)">
          Delete {{aboutEntryInputs.selectedOptions.selected.length}} bullets
        </button>
          <mat-selection-list #aboutEntryInputs>
            <mat-list-option *ngFor="let entry of aboutEntries" [value]="entry">Title: {{entry.title}} | Value: {{entry.value}}</mat-list-option>
          </mat-selection-list>
      </div>
      <mat-form-field appearance="outline" class="flex-item-min">
        <mat-label>Title</mat-label>
        <input matInput formControlName="aboutEntryTitle">
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex-item">
        <mat-label>Value</mat-label>
        <input matInput formControlName="aboutEntryValue">
        <mat-icon matSuffix>text_snippet</mat-icon>
      </mat-form-field>
      <button mat-stroked-button class="course-add-button" (click)="addAboutEntry()"
        [disabled]="entryGroup.get('aboutEntryValue').invalid || entryGroup.get('aboutEntryTitle').invalid">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="flex-container">
      <h3 class="flex-title">About Urls</h3>
      <div *ngIf="aboutUrls.length > 0" class="flex-list">
        <button mat-button (click)="deleteAboutUrls(aboutUrlInputs.selectedOptions.selected)">
          Delete {{aboutUrlInputs.selectedOptions.selected.length}} bullets
        </button>
        <mat-selection-list class="flex-list" #aboutUrlInputs>
          <mat-list-option *ngFor="let url of aboutUrls" [value]="url">Url: {{url.url}} | Image Url: {{url.image}} | Alt Text: {{url.alt}}</mat-list-option>
        </mat-selection-list>
      </div>
      <mat-form-field appearance="outline" class="flex-item">
        <mat-label>Redirect Url</mat-label>
        <input matInput formControlName="aboutUrlUrl">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex-item">
        <mat-label>Image Url</mat-label>
        <input matInput formControlName="aboutUrlImage">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex-item">
        <mat-label>Image Alt Text</mat-label>
        <input matInput formControlName="aboutUrlAlt">
        <mat-icon matSuffix>accessibility</mat-icon>
      </mat-form-field>
      <button mat-stroked-button class="course-add-button" (click)="addAboutUrl()"
        [disabled]="entryGroup.get('aboutUrlUrl').invalid || entryGroup.get('aboutUrlImage').invalid">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button (click)="saveEntry()"
              [disabled]="aboutEntries.length === 0 && aboutUrls.length === 0 && entryGroup.get('aboutProfile').value === ''">Save Entry</button>
    </div>
  </form>
</ng-template>

<ng-template #bulletForm>
  <div class="bullet-flex">
    <mat-form-field appearance="outline" class="bullet-entry">
      <mat-label>Bullet</mat-label>
      <input matInput #bulletInput [formControl]="bulletControl">
      <mat-icon matSuffix>format_list_bulleted</mat-icon>
      <mat-error>Bullet cannot be empty</mat-error>
    </mat-form-field>
    <button mat-stroked-button class="bullet-add-button"
            (click)="addBullet(bulletInput.value)"
            [disabled]="bulletControl.invalid">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <h3>Bullets:</h3>
  <mat-selection-list #bulletList>
    <mat-list-option *ngFor="let bullet of bullets" [value]="bullet">{{bullet}}</mat-list-option>
  </mat-selection-list>
  <div>
    <button mat-button (click)="deleteBullets(bulletList.selectedOptions.selected)">
      Delete {{bulletList.selectedOptions.selected.length}} bullets</button>
    <button mat-button (click)="saveEntry()"
            [disabled]="isFormEmpty">Save Entry</button>
  </div>
</ng-template>
