<h2>Add A New Entry</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryControl">
      <mat-option value="work">Work Experience</mat-option>
      <mat-option value="projects">Projects</mat-option>
      <mat-option value="courses">Coursework</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Only render the appropriate form when they are selected -->
  <ng-container *ngIf="categoryControl.value === 'work' then workForm"></ng-container>
  <ng-container *ngIf="categoryControl.value === 'projects' then projectsForm"></ng-container>
  <ng-container *ngTemplateOutlet="bulletForm"></ng-container>
</mat-dialog-content>

<ng-template #workForm>
  <form [formGroup]="entryGroup">
    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input matInput formControlName="workCompany">
      <mat-icon matSuffix>work_outline</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="workTitle">
      <mat-icon matSuffix>person_outline</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <input matInput formControlName="workYear">
      <mat-icon matSuffix>calendar_today</mat-icon>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #projectsForm>
  <form [formGroup]="entryGroup">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="projectName">
      <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Link</mat-label>
      <input matInput formControlName="projectLink">
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <input matInput formControlName="projectYear">
      <mat-icon matSuffix>calendar_today</mat-icon>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #bulletForm>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Bullet</mat-label>
      <input matInput #bulletInput>
      <mat-icon matSuffix>format_list_bulleted</mat-icon>
    </mat-form-field>
    <button mat-mini-fab (click)="addBullet(bulletInput.value)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <h3>Bullets:</h3>
  <mat-selection-list #bulletList>
    <mat-list-option *ngFor="let bullet of bullets" [value]="bullet">{{bullet}}</mat-list-option>
  </mat-selection-list>
  <div>
    <button mat-button (click)="deleteBullets(bulletList.selectedOptions.selected)">Delete</button>
  </div>
  <div>
    <button mat-button (click)="saveEntry()" [disabled]="isFormEmpty">Save</button>
  </div>
</ng-template>
