<mat-accordion class="align-headers">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Work Experience</mat-panel-title>
      <mat-panel-description>All my SWE related work experience. Sorted in descending chronological order. </mat-panel-description>
    </mat-expansion-panel-header>
    <p>The table rows are expandable. Click on a row to expand it.</p>
    <common-table [tableEntries]="workExperience"
                  tableType="work"
                  [columnNames]="['Company', 'Title', 'Year']"></common-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Projects</mat-panel-title>
      <mat-panel-description>All relevant projects I've worked on</mat-panel-description>
    </mat-expansion-panel-header>
    <common-table [tableEntries]="projects"
                  tableType="project"
                  [columnNames]="['Name', 'Link', 'Year']">
    </common-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Coursework</mat-panel-title>
      <mat-panel-description>All relevant coursework I've taken in college</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-container">
      <category-list *ngFor="let category of categories"
                     [title]=category.categoryName
                     [items]=category.courses></category-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
