<mat-accordion class="align-headers">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Work Experience</mat-panel-title>
      <mat-panel-description>All my SWE related work experience. Sorted in descending chronological order. </mat-panel-description>
    </mat-expansion-panel-header>
    <p>The table rows are expandable. Click on a row to expand it.</p>
    <work-table [workExperience]="workExperience"></work-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Coursework</mat-panel-title>
      <mat-panel-description>All relevant coursework I've taken in college</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-container">
      <category-list title="Programming Courses"
                     [items]="programmingCourses"></category-list>
      <category-list title="Game Development Courses"
                     [items]="gameDevelopmentCourses"></category-list>
      <category-list title="Conceptual Courses"
                     [items]="conceptualCourses"></category-list>
      <category-list title="Miscellaneous Courses"
                     [items]="miscCourses"></category-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
