table {
  width: 100%;
}

tr.entry-detail-row {
  height: 0;
}

tr.entry-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.entry-row:not(.expanded-row):active {
  background: #efefef;
}

.entry-row td {
  border-bottom-width: 0;
}

.entry-detail {
  overflow: hidden;
  display: flex;
}

.entry-summary {
  padding: 16px;
}

.entry-recap {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  margin: 8px 0;
  height: 128px;
}
