<button *ngIf="isRemoval"
        mat-stroked-button
        (click)="removeEntries()">Remove {{selection.selected.length}} Entries</button>

<table mat-table class="mat-elevation-z1" [dataSource]="tableEntries"
       multiTemplateDataRows>

  <!-- Run to add column name 'select' -->
  <ng-container *ngIf="isRemoval === true ? addCheckboxColumn() : false" matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Render checkboxes only when we are in removal mode -->
  <ng-container *ngIf="isRemoval">
    <!-- Splice one because we do not want a duplicate matColumnDef for select -->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnNames | slice:1">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let entry">{{entry[column.toLowerCase()]}}</td>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!isRemoval">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnNames">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let entry">
        <ng-container *ngIf="column.toLowerCase() !== 'link'; else isLink">
          {{entry[column.toLowerCase()]}}
        </ng-container>
        <ng-template #isLink>
          <a href="{{entry[column.toLowerCase()]}}" target="_blank">{{truncateLink(entry[column.toLowerCase()])}}</a>
        </ng-template>
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let entry" [attr.colspan]="columnNames.length">
      <div class="entry-detail"
           [@detailExpand]="entry == expandedEntry ? 'expanded' : 'collapsed'">
        <div class="entry-summary">
          <li *ngFor="let bullet of entry.bullets">
            {{bullet}}
          </li>
        </div>
      </div>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let entry; columns: columnNames"
      class="entry-row"
      [class.expanded-row]="expandedEntry === entry"
      (click)="expandedEntry = expandedEntry === entry ? null : entry"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
      class="entry-detail-row"></tr>
</table>
