/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // in official docs

$primary: #007cc7;
$accent: #d6edff;
$primary-dark: #154c70;
$accent-dark: #0b3353;

body {
  margin: 0;
  font-family: "Roboto";
}
